<h2 class="mt-4">Solicitar tutoría</h2>

<div class="container">
	<form [formGroup]="solicitudForm" (ngSubmit)="onSubmit(solicitudForm.value)">

		<div class="row mb-3">
			<div class="col-md-4">
				<div class="row">
					<label class="block mt-1">Profesor *</label>
				</div>
				<div class="row">
					<p-autoComplete formControlName="profesor" placeholder="Introducir profesor" [showClear]="true"
						[field]="$any(profesorConversionMethod)" [suggestions]="profesoresFiltrados" [forceSelection]="true"
						(completeMethod)="filtrarProfesor($event)"
						(onSelect)="buscarAsignaturas(solicitudForm.controls['profesor'].value)" (onClear)="onClear();"
						(onBlur)="gestionarFormulario()">

						<ng-template let-profesor pTemplate="item">
							{{ profesor.nombre }} {{ profesor.apellidos }} ({{ profesor.identificador }})
						</ng-template>

					</p-autoComplete>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<label class="block mt-2">Asignatura</label>
				</div>
				<div class="row">
					<p-dropdown formControlName="asignatura" [options]="asignaturas" placeholder="Seleccionar asignatura"
						optionLabel="nombre" [showClear]="true" (onChange)="gestionarComentarioObligatorio()"
						(onClear)="gestionarComentarioObligatorio()">
					</p-dropdown>
				</div>
			</div>

			<div class="col-md-4">
				<p-checkbox formControlName="grupal" label="Tutoría grupal" [binary]="true" class="mt-4"></p-checkbox>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-md-4">
				<div class="row">
					<label class="block mt-2">Fecha tutoría *</label>
				</div>
				<div class="row">
					<p-calendar formControlName="fechaTutoria" dateFormat="dd/mm/yy" [showIcon]="true" [minDate]="fechaMinima"
						[firstDayOfWeek]="1" [readonlyInput]="true" [disabledDays]="finesDeSemana">
					</p-calendar>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<label class="block mt-2">Hora inicio *</label>
				</div>
				<div class="row">
					<p-calendar formControlName="horaInicio" [timeOnly]="true"></p-calendar>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<label class="block mt-2">Duración estimada *</label>
				</div>
				<div class="row">
					<p-dropdown formControlName="duracionEstimada" [options]="duraciones" placeholder="Seleccionar"
						optionLabel="label">
					</p-dropdown>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="row">
				<label class="block mt-2">Asunto *</label>
			</div>
			<div class="row">
				<input formControlName="asunto" type="text" pInputText>
			</div>
		</div>

		<div class="row mb-3">
			<div class="row">
				<label class="block mt-2">Comentario {{ comentarioRequired ? '*' : '' }}</label>
			</div>
			<div class="row">
				<textarea formControlName="comentario" pInputTextarea [autoResize]="true"></textarea>
			</div>
		</div>

		<div class="clearfix">
			<p-button label="Ver horario de tutorías" type="button" (onClick)="verHorariosTutorias()"
				[disabled]="!profesorSeleccionado"></p-button>

			<p-button label="Solicitar tutoría" type="submit" class="float-end mt-2" [disabled]="!solicitudForm.valid">
			</p-button>
		</div>
	</form>

	<p-confirmDialog [key]="solicitarTutoriasKey"></p-confirmDialog>

	<p-dialog header="Horarios de tutorías" [(visible)]="displayHorariosDialog">
		<app-horarios-tutorias [horariosTutorias]="horariosTutorias"></app-horarios-tutorias>
	</p-dialog>

</div>